section.news
  .news__container
    h2.news__title
      | Новости
      br
      | нашей клиники
    .news__inner
      .news__slider.swiper
        .swiper-wrapper
          -
            const newsItems = [
              {
                img: 'item-1.png',
                date: '22.10.2024',
                title: 'Шаширина Александра Юрьевна заняла второе место в Премии ПроДокторов',
                text: 'Мы с гордостью сообщаем, что врач-гигиенист Шаширина Александра Юрьевна заняла второе место в Премии ПроДокторов! Это достижение является результатом ваших отзывов и высокой  цыйцыйцыйц йцвйцвйцвйвцйцвйцвйцв '
              },
              {
                img: 'item-2.png',
                date: '22.10.2024',
                title: 'Мы рады поделиться с вами яркими моментами нашей недавней фотосессии!',
                text: 'чатлениями, и это было невероятно вдохновляюще! Дл...'
              },
              {
                img: 'item-3.png',
                date: '02.10.2024',
                title: 'Удалось ли участникам клиентского дня разбить имплантат?',
                text: 'Нет! Зато каждый смог изучить его, подержать в руках и после тест-драйва убедиться в неоспоримых качествах — прочности и надежности. В легкой и приятной атмосфере прошло общение с...'
              },
              {
                img: 'item-1.png',
                date: '22.10.2024',
                title: 'Шаширина Александра Юрьевна заняла второе место в Премии ПроДокторов',
                text: 'Мы с гордостью сообщаем, что врач-гигиенист Шаширина Александра Юрьевна заняла второе место в Премии ПроДокторов! Это достижение является результатом ваших отзывов и высокой...'
              },
              {
                img: 'item-2.png',
                date: '22.10.2024',
                title: 'Мы рады поделиться с вами яркими моментами нашей недавней фотосессии!',
                text: 'На этой фотосессии мы встретились с пациентами, которые завершили свое лечение и обрели улыбку мечты. Они поделились своими впечатлениями, и это было невероятно вдохновляюще! Дфйфвйцвйцв йцвйцвйцвйцв йцвйцвйвйцвйцв'
              },
              {
                img: 'item-3.png',
                date: '02.10.2024',
                title: 'Удалось ли участникам клиентского дня разбить имплантат?',
                text: ' В легкой и приятной атмосфере прошло общение с...'
              }
            ]
          each item in newsItems
            .news__slide.swiper-slide
              .news__slide-image
                img(src=`@img/news/${item.img}` alt=item.title)
              .news__slide-content
                .news__slide-date= item.date
                h3.news__slide-title= item.title
                p.news__slide-text= item.text
                a.button.news__slide-button(href="#") 
                  span Читать полностью

      .news__navigation.swiper-navigation
        button.prev
          include icons/_prev-icon
        button.next
          include icons/_next-icon 