section.why
    .why__container
        h2.why__title Зачем нужно проводить отбеливание зубов? Щадящая технология amazing white

        .why__list
            -
                const steps = [
                    {
                        number: '1',
                        text: 'Абсолютно безболезненно<br>и безопасно для зубов и слизистой'
                    },
                    {
                        number: '2',
                        text: 'Осветление на 3-8 тонов<br>за одно посещение'
                    },
                    {
                        number: '3',
                        text: 'Эффект сохраняется до<br>24-х месяцев'
                    },
                    {
                        number: '4',
                        text: 'Процедура проводится при помощи специального<br>геля и LED-лампы в течение 1,5 часов'
                    },
                    {
                        number: '5',
                        text: 'Отбеливание зубов помогает улучшить внешний вид улыбки, что может<br>повысить уверенность и самооценку. Яркая улыбка часто воспринимается<br>как признак здоровья и ухоженности.'
                    },
                    {
                        number: '6',
                        text: 'Эффект от профессионального отбеливания может длиться несколько месяцев,<br>в отличие от домашних средств, которые могут давать менее заметные<br>результаты.'
                    },
                    {
                        number: '7',
                        text: 'Во время консультации стоматолог оценит состояние ваших зубов и подберет<br>оптимальный метод отбеливания, учитывая ваши особенности. Многие<br>опасаются, что отбеливание повредит зубы. На самом деле, при правильном<br>подходе и профессиональном контроле, отбеливание безопасно и<br>невредит зубной эмали.'
                    }
                ]

            each step in steps
                .why__item
                    .why__number= step.number
                    p.why__text!= step.text

        .why__steps
            h3.why__subtitle Проводим процедуру<br>в два визита:

            .why__grid
                -
                    const visits = [
                        {
                            icon: 'step-1.png',
                            title: 'Первый визит',
                            text: 'Профессиональная гигиена полости рта (длится 1-1,5 часа).'
                        },
                        {
                            icon: 'step-2.png',
                            title: 'Второй визит',
                            text: 'Отбеливание. Проводим через 2-3 дня после профгигиены.'
                        }
                    ]

                each visit in visits
                    .why__visit
                        .why__icon
                            img(src=`@img/campaign/${visit.icon}` alt=visit.title loading="lazy")
                        h4.why__name= visit.title
                        p.why__description= visit.text
