section.case-steps
    .case-steps__container
        h2.case-steps__title Этапы работы
        .case-steps__list
            - 
                const steps = [
                    {
                        number: '1',
                        title: `Санация<br>полости рта`,
                        text: 'Первым этапом терапевт провел большую работу по санации полости рта. Доктор устранил все кариесы, вылечил пульпит, восстановил передние зубы для дальнейшей работы ортодонта.',
                        image: 'step-1.png'
                    },
                    {
                        number: '2',
                        title: `Установка<br>брекет системы`,
                        text: 'После Кирилл начал лечение на брекет-системе. Необходимо было расширить зубные ряды, устранить скученность зубов, нормализовать их наклоны и контакты. Ортодонтический этап лечения продлился два года, за это время удалось выполнить все поставленные задачи и сформировать красивую арку улыбки.',
                        image: 'step-2.png'
                    },
                    {
                        number: '3',
                        title: `Хирургия и<br>имплантация`,
                        text: 'Параллельно с ортодонтией работал хирург-имплантолог. Кириллу провели закрытый синус-лифтинг, установили два имплантата. Благодаря десневой пластики восстановили красивый контур десны возле коронок.',
                        image: 'step-3.png'
                    },
                    {
                        number: '4',
                        title: `Подготовка к<br>установке виниров`,
                        text: 'В апреле 2024 года Кирилл был передан в бережные руки ортопеда. Щелчки в суставе говорили о дисфункции ВНЧС, для лечения патологии доктор использовал тенс-терапию. Это позволило снять гипертонус мышц, найти оптимальное положение нижней челюсти и перейти к протезированию.',
                        image: 'step-4.png'
                    },
                    {
                        number: '5',
                        title: `Установка<br>виниров`,
                        text: 'Завершающий этап — 12 керамических накладок идеально повторяющую природную эмаль: микрорельеф, полупрозрачный режущий край. Выглядит максимально естественно!',
                        image: 'step-5.png'
                    }
                ]

            each step in steps
                .case-steps__item.accordion-item
                    .case-steps__item-header.accordion-item-header
                        .case-steps__item-header-top.accordion-item-header
                            span.case-steps__item-number= step.number
                            button(type="button", aria-label="Открыть/закрыть").case-steps__item-icon
                                include ../icons/_chevron-close
                        h3.case-steps__item-title!= step.title
                        p.case-steps__item-text.accordion-item-content!= step.text
                    .case-steps__item-image
                        img(src=`@img/case/${step.image}` alt=step.title)
